{% extends 'base.html' %}
{% load i18n %}

{% block page_title %} {% trans "First Page" %} {% endblock %}

{% block content %}
  <h2>Define your Service Area</h2>

  <div class="row">
    <div class="col-lg-8">
       <div id="map" style="width: 850px; height: 550px;"></div>
    </div>

    <div class="col-lg-4">
       <div class="row">
        <div class="col-lg-4">
            <input type="button" id="clear-btn" class="btn btn-sm btn-danger"
                   value='{% trans "Clear shape" %}' />
        </div>
      </div>

      <br/><br/>

      <h4>Your Service Area coordinates:</h4>
      <div class="row">
        <span class="col-lg-7" id="empty-points-message">No service area has been drawn yet.</span>
        <div id="points"></div>
      </div>

      <br/>

      <div class="row">
        <div class="col-lg-4">
          <form method="post" action="{% url 'mozio_create_service_area' %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="company">{{ form.company.label }}</label>
                  {{ form.company }}
              </div>

              <div id="form-points"></div>

              <input type="submit" id="submit-btn" class="btn btn-md btn-success"
                     value='{% trans "Submit Service Area" %}' />
          </form>
        </div>
      </div>
      <br /><br/>
      <div class="row">
        <div class="col-lg-10">
          <h4>Latest Service Area</h4>
          <strong>Company:</strong> {{ latest_service_area.company }}<br/>
          <strong>Date:</strong> {{ latest_service_area.created_at|date:"Y-m-d H:i:s" }}<br/>
          {% with points=latest_service_area.points.all %}
            {% for point in points %}
              Point {{ forloop.counter }}: <strong> LAT: </strong> {{ point.latitude }} - <strong>LNG:</strong> {{ point.longitude }}<br/>

              <input type="hidden" name="service-area-{{ latest_service_area.pk }}"
                  data-latitude="{{ point.latitude }}" data-longitude="{{ point.longitude }}" />
            {% endfor %}
          {% endwith %}<br/>
          <input type="button" value="Draw on the map" class="btn btn-sm  btn-info"
            onclick="drawOnTheMap({{ latest_service_area.pk }});" />
        </div>
      </div>
    </div>
  </div>
  <br />
{% endblock %}

{% block js_scripts %}

      <!-- Google Map -->
      <script>
        var map;
        var drawingManager;
        var selectedShape;
        var infoWindow;

        function clearSelection(){
          if(selectedShape){
            selectedShape.setEditable(false);
            selectedShape = null;
          }
        }

        // function to set the shape
        function setSelection(shape){
          clearSelection();
          selectedShape = shape;
          shape.setEditable(true);
        }

        function setSelectionWithoutEditable(shape){
          clearSelection();
          selectedShape = shape;
        }

        // function to delete the selected shape
        function deleteSelectedShape(){
          if(selectedShape){
            selectedShape.setMap(null);
            $('#points').html("");
            $('#form-points').html("");
          }else{
            alert('{% trans "No shape found. There is nothing to clean." %}');
          }
          $('#empty-points-message').show();
        }

        function updatePoints(shape){
          console.log('Polygon changed (SET_AT).');

          var coordinates = (shape.getPath().getArray());

          $('#empty-points-message').hide();

          var hidden_fields = "";
          var points = "";

          for(var i = 0; i < coordinates.length; i++){
            var lat = coordinates[i].lat();
            var lng = coordinates[i].lng();

            // update the fields for the latitude and longitude
            field_value = "lat="+lat+"&lng="+lng;
            points += '<div>Point '+i+ ': ' + ' <b>LAT</b>: ' +lat+ ' <b>LNG</b>: ' +lng+ '</div>\n';
            hidden_fields += "<input type='hidden'name='latitude_and_longitude[]'value='"+field_value+"'/>";
          }

          $('#points').html(points);
          $('#form-points').html(hidden_fields);

          setSelection(shape);
        }

        function manageOverlay(event){
          if(event.type != google.maps.drawing.OverlayType.MARKER) {
            drawingManager.setDrawingMode(null);

            var newShape = event.overlay;
            newShape.type = event.type;

            google.maps.event.addListener(newShape, 'click', function(){
                setSelection(newShape);

                google.maps.event.addListener(newShape.getPath(), 'set_at', function(){
                    console.log('Polygon changed (SET_AT).');
                    updatePoints(newShape);
                });

                google.maps.event.addListener(newShape.getPath(), 'insert_at', function(){
                    console.log('Polygon changed (INSERT_AT).');
                    updatePoints(newShape);
                });

                google.maps.event.addListener(newShape.getPath(), 'remove_at', function(){
                    console.log('Polygon changed (REMOVE_AT).');
                    updatePoints(newShape);
                });
            });

            setSelection(newShape);
          }
        }

        function managePolygon(polygon){
          console.log('Polygon is complete.');
          updatePoints(polygon);
        }

        function drawOnTheMap(service_area){
          var fields = $('input[name=service-area-' + service_area);
          var coords = new Array();

          $(fields).each(function(index){
              var latitude = parseFloat($(this).attr("data-latitude"));
              var longitude = parseFloat($(this).attr("data-longitude"));
              coords.push({lat: latitude, lng: longitude});
          });

          console.log('coords: ' + coords);

          // Construct the polygon.
          var polygon = new google.maps.Polygon({
            paths: coords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#FF0000',
            fillOpacity: 0.35
          });

          polygon.setMap(map);

          // set selection so it can be cleaned by the "clear shape" button
          setSelectionWithoutEditable(polygon);
        }

        // initialize the map
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 37.770767, lng: -122.424877}, // San Franscisco
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              zoom: 15,
              draggable: true,
              mapTypeControl: false,
              panControl: false,
              streetViewControl: false,
              zoomControl: true,
              zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
              }
          });

          drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
              position: google.maps.ControlPosition.TOP_CENTER,
              drawingModes: [
                google.maps.drawing.OverlayType.POLYGON,
              ]
            },
            polygonOptions: {
              editable: false
            }
          });

          // creates the map
          drawingManager.setMap(map);

          // triggered when the polygon is complete
          google.maps.event.addListener(drawingManager, 'overlaycomplete', manageOverlay);
          google.maps.event.addListener(drawingManager, 'polygoncomplete', managePolygon);

          // clear the current selection when the drawing mode is changed
          // or when the map is clicked.
          google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
          google.maps.event.addListener(map, 'click', clearSelection);

          // Add an dom listener that deletes the last drawn shape
          google.maps.event.addDomListener(document.getElementById('clear-btn'), 'click', deleteSelectedShape);
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=drawing&callback=initMap"></script>
{% endblock %}